.about {
  background-color: #bbbbbb;
  padding: 2rem;

  .picture {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    height: 10rem;

    background: url(https://source.unsplash.com/jFCViYFYcus/640x480);
    background-size: cover;

    /*
    :first-of-type {
      background: url(https://source.unsplash.com/jFCViYFYcus/640x480);
      background-size: cover;
    }

    :last-of-type {
      background: url(https://source.unsplash.com/-QKpblZde5I/640x480);
    }*/

    p {
      margin: 0;
    }
  }
}
