header {
  background: url(https://source.unsplash.com/-QKpblZde5I/640x480);
  background-position: center;
  background-size: cover;
  height: 15rem;
  position: relative;

  h1 {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
