body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header-section {
  background: url(https://source.unsplash.com/jFCViYFYcus/640x480);
  background-size: cover;
  color: white;
  text-align: center;
  height: 70vh; }
  .header-section h1 {
    margin: 0;
    padding: 5rem 0; }
